<h1>{{title}} 🚀</h1>
<p>Welcome to MoodShaker!</p>

<a href="/login">Login</a>

<form action="/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

<a href="/discover">Discover</a>


   
