<section>
  <div>
    <h1>{{title}}</h1>
  </div>

  <div class="box">

    <h2>Welcome to MoodShaker</h2>

    <form action="/" method="POST">

    <div class="user-input">
      <label>
        <input type="text" name="username" placeholder="Username" />
      </label>
      <label>
        <input type="email" name="mail" placeholder="Mail" />
      </label>
      <label>
        <input type="password" name="password" placeholder="Password" />
      </label>
    </div>
    
    <hr/ class="hr">

    <div>
      <p>Already have an account ?</p><br /><a href="/login">Login</a>
    </div>
      
    
  </div>

<div class="button-together">
  <button class="button" type="submit">Submit</button>
  <button class="button" type="submit"><a href="/discover">Discover</a></button>
</div>

</form>

</section>