<h1>Results tailored to your mood...</h1>
{{#each data}}
    <div>
        <img src="{{this.image}}" alt="image of activity"/>
        <p>{{this.title}}</p>
        <a href="/activities/{{this.id}}/details">take me to more details</a>
    </div>
{{/each}}

<button>
    <a href="activities/create">create activity</a>
</button>

<button>
    <a href="/mood-shaker">Shake again!</a>
</button>