<section>
  <h1>Results tailored to your mood...</h1>

  <div class="box widgets">

    {{#if data}}
      {{#each data}}
        <div>
          <h3>{{this.title}}</h3>
          <a href="/activities/{{this.id}}/details">More details</a>
        </div>
      {{/each}}

    {{else}}
      <p class="box">We do not have a result for you mood and level of energy.. yet!</p>

    {{/if}}

  </div>

  <div class="button-together">
    <button>
      <a class="button" href="activities/create">Create</a>
    </button>

    <button>
      <a class="button" href="/mood-shaker">Shake again !</a>
    </button>

  </div>

</section>