<h1>Results tailored to your mood...</h1>

{{#if data}}
{{#each data}}
    <div>
        <p>{{this.title}}</p>
        <a href="/activities/{{this.id}}/details">take me to more details</a>
    </div>
{{/each}}

{{else}}
<p>we do not have a result for you mood and level of energy.. yet!</p>

{{/if}}

<button>
    <a href="activities/create">create activity</a>
</button>

<button>
    <a href="/mood-shaker">Shake again!</a>
</button>