<h1>Here your created activities</h1>

<div class="box">
  {{#if data}}
    {{#each data}}

      <div>

        <p>{{this.title}}</p>

      </div>

      <button class="button">
        <a href="/activities/{{this.id}}/details">see more</a>
      </button>

    {{/each}}

  {{else}}
    <p>You did not create any activities.. yet!</p>
  {{/if}}
</div>

<button class="button" type="submit">
  <a href="javascript:history.back()">Take me back</a>
</button>