
{{#each data}}

    <div>
        <img src="{{this.image}}" alt="image of activity" />
        <p>{{this.title}}</p>

    </div>

<button>
    <a href="/activities/{{this.id}}/details">see more</a>
</button>

{{/each}}

<button>
    <a href="/user/{{this.author.id}}/dashboard">Take me back!</a>
</button>