<h1>Here your created activities</h1>

<div class="box">
  {{#if data}}
    {{#each data}}

{{!-- <div class="widgets"> --}}
      <div class="widgets">
        <div>

        <h2 id="pink">{{this.title}}</h2>
        <button class="button">
          <a id="white" href="/activities/{{this.id}}/details">see more</a>
        </button>
        </div>
      </div>

    {{/each}}

  {{else}}
    <p>You did not create any activities.. yet!</p>
  {{/if}}

  </div>
{{!-- </div> --}}

<div class="button-together">
<button class="button" type="submit">
  <a href="javascript:history.back()">Take me back</a>
</button>
</div>