
{{#each data}}

    <div>

        <p>{{this.title}}</p>

    </div>

<button>
    <a href="/activities/{{this.id}}/details">see more</a>
</button>


{{/each}}

<button type="submit">
    <a href="javascript:history.back()">Take me back</a>
</button>