<p>This is the dashboard</p>

<p>hello {{infos.username}}</p>


{{#if infos.activities}}
<h3>Your passed activities:</h3>

<ul>
{{#each infos.activities}}

<li>{{this}}</li>

{{/each}}
</ul>

{{else}}

<p>You don't have any activities logged yet...</p>

{{/if}}

<button>
    <a href="/user/{{infos._id}}/created-activities">My created activities</a>
</button>

<button>
    <a href="/mood-shaker">Shake it!</a>
</button>