<h1>Welcome to your dashboard</h1>

<div class="box">
<h2>Greetings {{infos.username}} !</h2>


{{#if infos.activities}}
<h4>Your passed activities:</h4>

<div class="widgets">
<ul>
{{#each infos.activities}}

<div class="widget">
<li>{{this}}</li>
</div>

{{/each}}
</ul>
</div>

{{else}}

<p>You don't have any activities logged yet...</p>

{{/if}}
</div>

<div class="threesome-buttons">
<button class="button">
    <a href="/user/{{infos._id}}/created-activities">Created activities</a>
</button>

<button class="button">
    <a href="/mood-shaker">Shake it!</a>
</button>

<button class="button" type="submit">
    <a href="javascript:history.back()">Take me back</a>
</button>
</div>