<h1>About Moodshaker</h1>
<div class="box">
    <br/><p>Mood-shaker is a simple and intuitive application that allows its users to find an activity to do according to their mood and energy level.</p>
    <br/><p>Thanks to Mood-Shaker you will always have something to do according to your needs, whether it's to regain energy, rest, or even discover a new activity by finding the different activities created by all the Mood-Shakers and the community.</p>
    <br/><p>You can create and manage your different activities thanks to a personal space where you can follow and manage your different activities.</p><br/>
</div>
<div class="button-together">
<button class="button" type="submit">
    <a href="/">Take me in!</a>
</button>

<button class="button" type="submit">
    <a href="/">Take me back!</a>
</button>
</div>