<h1>Alarm! Alarm!</h1>
<br>
<h2>There was an error on the server!</h2>
<h2>Please check the console if you can..</h2>
<br>
<h3>If the problem persists, please contact dev team:</h3>
<br>
<br>
<p><strong>Github -> </strong><a href="https://github.com/GeoLvl">Geoffrey</a></p>
<p><strong>Github -></strong><a href="https://github.com/AliceXix">Alice</a></p>
