<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/main.css" />
   <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&display=swap"
      rel="stylesheet" />
</head>

<body>

   <section class="layout">

         <a class="logo" href="/"><img src="/images/logo-blcv2.png" alt="logo mood shaker"></a>

{{#if userId}}
         <a class="button" href="/user/{{userId._id}}/dashboard">Dashboard</a>

         <button class="button-nav" type="submit">
            <a href="/logout">Logout</a>
         </button>
{{/if}}



   </section>

   {{! <button type="submit">
      <a href="/user/6179a49ff34bc5b97209ad2d/dashboard">My dashboard</a>
   </button> }}

   {{{body}}}



   <script src="/js/script.js"></script>
</body>

</html>