<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <section class="layout">

      <div class="logo">
         
         <a href="/" ><img src="/images/logo-blcv2.png" alt="logo mood shaker"></a>
      </div>

      <div class="buttons-panel">
         <a class="link" id="dash"  href="/user/{{userId._id}}/dashboard">Dashboard</a>

      <button class="logout" type="submit">
        <a class="link" href="/logout">Log out</a>
      </button>
      </div>

      

      </section>

      {{! <button type="submit">
         <a href="/user/6179a49ff34bc5b97209ad2d/dashboard">My dashboard</a>
      </button> }}

      {{{body}}}

    

    <script src="/js/script.js"></script>
  </body>

</html>