<h1>404 Error</h1>
<h2>This route does not exist on our app!</h2>
<br>
<h3>Please check your URL..</h3>
<br>
<h3>If the problem persists, please contact dev team:</h3>
<br>
<br>
<p><strong>Github -> </strong><a href="https://github.com/GeoLvl">Geoffrey</a></p>
<p><strong>Github -></strong><a href="https://github.com/AliceXix">Alice</a></p>


<button type="submit">
    <a href="javascript:history.back()">Go back</a>
</button>