<section>
  <h1>About today</h1>

    <form class="box" action="/mood-giver" method="get">

      <div>
        <h2>What is your mood ?</h2>
        <br />
        <div class="widgets">

          <div>
            <h3>&#128512</h3><h4>Happy</h4><br />
            <input
              type="checkbox"
              name="mood"
              value="happy"
            />
          </div>

          <div>
            <h3>&#128533</h3><h4>Sad</h4><br />
            <input  type="checkbox" name="mood" value="sad" />
          </div>

          <div>
            <h3>&#129321</h3><h4>Creative</h4><br />
            <input
              type="checkbox"
              name="mood"
              value="creative"
            />
          </div>

          <div>
            <h3>&#128579</h3><h4>Procrastinating</h4><br />
            <input
              type="checkbox"
              name="mood"
              value="procrastinating"
            />
          </div>

          <div>
            <h3>&#128544</h3><h4>Angry</h4><br />
            <input
              type="checkbox"
              name="mood"
              value="angry"
            />
          </div>

          <div>
            <h3>&#129322</h3><h4>Restless</h4><br />
            <input
              type="checkbox"
              name="mood"
              value="restless"
            />

          </div>

        </div>

      </div>

      <br />
      <label>
        <h2>What is your energy level ?</h2>
        <br />
        <div>
          <div>
            <input type="radio" name="energyLvl" value="0" />0
          </div>
          <div>
            <input type="radio" name="energyLvl" value="1" />1
          </div>
          <div>
            <input type="radio" name="energyLvl" value="2" />2
          </div>
          <div>
            <input type="radio" name="energyLvl" value="3" />3
          </div>
          <div>
            <input type="radio" name="energyLvl" value="4" />4
          </div>
          <div >
            <input type="radio" name="energyLvl" value="5" />5
          </div>

        </div>

      </label>
      <br />

      <button type="submit">Submit
        {{! <a href="/activities">Shake my mood!</a> }}
      </button>

    </form>

</section>