<section class="questions">
    <form class="main-form" action="/mood-giver" method="get">

        <label>What is your mood today?
            <br>
            <input type="checkbox" name="mood" value="happy"/>happy
            <input type="checkbox" name="mood" value="sad" />sad
            <input type="checkbox" name="mood" value="creative" />creative
            <input type="checkbox" name="mood" value="procrastinating" />procrastinating
            <input type="checkbox" name="mood" value="angry" />angry
            <input type="checkbox" name="mood" value="restless" />restless
        </label>
<br>
        <label>What is your energy level today?
            <br>
            <input type="radio" name="energyLvl" value="0" />0
            <input type="radio" name="energyLvl" value="1" />1
            <input type="radio" name="energyLvl" value="2" />2
            <input type="radio" name="energyLvl" value="3" />3
            <input type="radio" name="energyLvl" value="4" />4
            <input type="radio" name="energyLvl" value="5" />5
        </label>

        <button type="submit">Submit
            {{!-- <a href="/activities">Shake my mood!</a> --}}
        </button>

    </form>
</section>