* {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
    all: unset;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.5rem;
  color: #ffa7c0;
  font-family: "Fredoka One", cursive;
  margin: auto;
  max-width: 33%;
  padding: 1em;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: white;
  font-family: "Architects Daughter", cursive;
  margin: auto;
  padding: 1em;
  text-align: center;
}

h3 {
    font-size: 3.3rem;
    margin: unset;
}

h4 {
    color: #352005;
    font-size: 1.5rem;
    margin: 0.3em;
}

h6 {
    color: #352005;
    text-align: center;
    font-size: 1.5rem;
    margin: 1em 1em 0 1em;
    padding-top: 0.8em;
}

textarea {
    max-width: 80%;
    margin: 1.2em 0 1.2em 0;
}

select {
    align-self: center;
}

li {
    list-style: none;
}

@media screen and (min-width: 600px) {
    .layout {
        background-color: #65dc9a;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 4%;
    }
    .logo img {
        width: 10%;
    }
}

@media screen and (max-width: 600px) {
    .layout {
        background-color: #65dc9a;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }
    .logo img {
        width: 18%;
    }
}

a {
    all:unset;
    color: #fff;
    font-size: 1.3rem;
}

p {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

button {
    all: unset;
}

.button-nav {
    margin-left: 3%;
}


/* the box */


@media screen and (min-width: 600px) {
    .box {
        background-color: rgb(255, 211, 0);
        max-width: 35%;
        padding: 2em;
        margin: auto;
        border-radius: 15px;
        margin-bottom: 5em;
    }
}

@media screen and (max-width: 600px) {
    .box {
        background-color: rgb(255, 211, 0);
        max-width: 55%;
        padding: 2em;
        margin: auto;
        border-radius: 15px;
        margin-bottom: 5em;
    }
}

.widgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.widgets div {
    flex-basis: 20rem;
    text-align: center;
    margin: 1em auto;
    background-color: #fff;
    color: #ffa7c0;
    border-radius: 15px;
    padding: 1.2em;
}

.energy {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 500px;
    margin: auto;
    margin-bottom: 2em;
}

.button {
    margin: auto;
    background-color: #65dc9a;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 0.8em 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 12vw;
    margin-bottom: 5em;
}

.box p {
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box a {
    color: #65dc9a;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 20vh;
    margin: 1.5em 0;
}

label {
    padding: 0.6em;
    border-radius: 5px;
}

@media screen and (min-width: 600px) {
    .button-together {
        display: flex;
        justify-content: space-around;
        max-width: 35%;
        margin: auto;
    }

    .threesome-buttons {
        display: flex;
        justify-content: space-around;
        max-width: 50%;
        margin: auto;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 950px) {
    .button-together {
        display: flex;
        justify-content: space-around;
        max-width: 35%;
        margin: auto;
        flex-wrap: wrap;
    }

    button {
        margin: 1em;
    }
}

.details {
    text-align: center;
    margin: 1em auto;
    color: #fff;
    padding: 1.2em;
}

.details p {
    color: #352005;
    padding-bottom: 1.5em;
}

.details h4 {
    padding: 1.2em;
}

.input-pairs {
    margin: 1.2em 0 1.2em 0;
}